*{
  margin: 0;
  padding: 0;
}

.contenedor{
  background: blue;
  width: 1650px;
  height: auto;
  padding: 10px 0px 10px 0px;
}

.barra{
  background: red;
  width: 1630;
  height: 100px;
  margin: 0px 10px 10px 10px;
}
.restaurante{
  background: lightgreen;
  width: 765px;
  height: 100px;
  float: left;
  padding-top: 15px;
  padding-left: 130px;
  box-sizing: border-box;
}
.restaurante a{
  text-decoration: none;
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
  font-family: cursive;

}
.restaurante a:hover{
  color: red;
  text-decoration: underline;
}
.img1{
  width: 100px;
  height: 100px;
  float: left;
}
nav{
  width: 765px;
  height: 100px;
  background: lightblue;
  float: left;
  padding-top: 35px;
  padding-left: 80px;
  box-sizing: border-box;
}

nav ul li{
  display: inline;
  text-decoration: none;
  font-size: 25px;
  margin-right: 50px;
  letter-spacing: 2px;
}
nav ul li a{
  text-decoration: none;
  color: black;
  font-family: cursive;
}
nav ul li a:hover{
  color: red;
  text-decoration: overline underline;
}
div#cajita1{
  background: green;
  width: 1630px;
  height: 100px;
  margin-left: 10px;
  padding: 2px;
  box-sizing: border-box;
  text-align: center;
  font-family: cursive;
  font-size: 30px;
}
div#cajita2{
  background: green;
  width: 1630px;
  height: 1000px;
  margin: 10px 10px 0px 10px;
  box-sizing: border-box;


}
div#cajita3{
  background-color: yellow;
  width: 815px;
  height: 1000px;
  float: left;

}
div#cajita4{
  background-color: pink;
  width: 407.5px;
  height: 1000px;
  float: left;
  padding-top: 30px;
  padding-left: 20px;
  box-sizing: border-box;
}
div#cajita5{
  background-color: lightblue;
  width: 407.5px;
  height: 1000px;
  float: left;
  padding-top: 30px;
  padding-left: 20px;
  box-sizing: border-box;
}
div#cajita3 h1{
  font-size: 30px;
}
div#cajita3 p{
  font-size: 20px;
}
